/* start body elements */
body {
    font-family: 'Quicksand', sans-serif;
    background-color: #fef9e4;
    color:black;
    text-align: center;
}

h3, h4, h5{
    font-family: 'Libre Baskerville', serif;
}

h1{
    font-weight: bolder;
    font-size: 3rem;
}

h2{
    font-size: 2rem;
}


h3{
    font-weight: bold;
}

p{
    font-style: italic;
}

article {
    margin-block: 10%;
}

footer{
    color: white;
    background-color: rgba(23, 23, 22, 0.90);
    font-size: smaller;
    position: absolute;
    margin: 0%;
}
/* end body elements */


/* start main body background */
.header, .green-flower, .pink-flower, .footer{
    background-size: contain;
    background-repeat: no-repeat;
}

.header{
    background-image: url(Images/arrière-plan-header.png);  
}

.green-flower{
    background-image: url(Images/flower.png);
    background-position: 95%;
}

.pink-flower{
    background-image: url(Images/flowerpink.png);
    background-position: 5%;
}

.footer{
    background-image: url(Images/arrière-plan-footer.png);
    background-position: bottom 50% right 3em;
}
/* end main body background */





/* header */

    /* Logo */
#Logo img{
    width: 50%;
    height: 35%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* navbar */

    /* responsive button */
.navbar-toggler{
    display: block; 
    margin-right:auto;
    margin-left: auto;
}
    /* a text-align center */
.navbar-nav{
    font-size: larger;
}
    /* a hover color */
#navbarNavAltMarkup a:hover {
    color: lightgreen;
}


    /* header - end picture dog */
#dog-head img{
    width: 100%;
}
/* end of header */


/* start main Home */

    /* Main body */
#maindog1 img{
    width: 12em;
    display: block;
    margin-left: auto;
    margin-right: auto; 
    margin-top: 5em;
    margin-bottom: 5em;
}

.card{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 7%;
    border-color: rgb(114, 199, 81);
}

main section .btn{
    margin-left: 38%;
    color:black;
    border-color: black;
    background-color: rgb(255, 221, 227);
    font-weight: bold;
}

main section .btn:hover{
    background-color: rgb(177, 233, 124);
    border-color: black;
    color: black;
}
/* end main Home */


/* Start main events */
    /* picture */
#médiation img, #dog-read img, #PECCRAM img, #sensibilisation img{
    width: 50%;
    height: 20%;
    margin-bottom: 10%;
}

    /* board */
.table{
    font-size: small;
    margin-bottom: 15%;
}

td, th{
    border: 2px solid rgb(53, 110, 92);
}
/*end main events */

/* start pets */
#Pets img{
    width: 70%;
    margin-bottom: 10%;
    border: 1.5px solid rgb(229, 196, 128);
}

#Luna img, #mayaZigzag img, #ricoréRosette img{
    margin-right: 20%;
}

#narniaHawai img, #miniCanelle img{
    margin-left: 20%;
}
/* end pets */



/* footer start */
    /*conteneur*/
.social-media{
    font-size:larger;
}

.social-media a{
    font-size:xx-large;
}

#facebook{
    color: rgb(75, 75, 195);
    margin-right: 10%;
}

#instagram{
    color: rgb(239, 107, 248);
    margin-left: 10%;
}

#mail{
    color:rgb(170, 38, 38);
}
/* footer end */

